
<v-app >




  <v-app-bar app shrink-on-scroll height="60" align="center"
      justify="center" v-on:click="overlay=false">
<v-layout row wrap align-center justify-center>
<v-btn
           color="primary"
           text
           @click="onLogOut"
         >
           LogOut
         </v-btn>
<v-spacer />

    

 


<v-spacer />

<v-btn v-model="toggle_cam"
           color="primary"
           text
           @click="setCameraView"
         >
           Reset Camera
         </v-btn>





<v-container style="width: 22%">
<div class="d-none d-md-block" style="margin: 5px; padding: 0px;">
  <v-slider
 :label="ex1.label"
 thumb-label="always"
 hide-details
 :value="resolution"
 :max="params[1]"
 :min="params[0]"
 :step="0.1"
 @input="setResolution"
/>
 </div>

 <div class="d-md-none">

         <v-text-field style="margin: 0px; padding: 0px; width: 60px"
                 label="Threshold"
                 type="number"
                 :value="resolution"
                 :max="params[0]"
                 :min="params[1]"
                 :step="0.1"
                 @input="setResolution"
               />



    </div>
 </v-container>



<v-container style="width: 22%">
   <div class="d-none d-md-block" style="margin: 5px; padding: 0px;">
     <v-slider
   :label="ex2.label"
   thumb-label="always"
   hide-details
   :value="planes"
   :max="params[3]"
   :min="params[2]"
   :step="1"
   @input="setPlanes"
  >


    </v-slider>
   </div>

<div class="d-md-none">


        <v-text-field style="margin: 0px; padding: 0px; width: 60px" class="' text-caption text-sm-body-2 text-md-body-1 text-lg-h6'"
                label="Cut planes"
                type="number"
                :value="planes"
                :max="params[3]"
                :min="params[2]"
                :step="1"
                @input="setPlanes"
              />



   </div>

</v-container>

<v-switch class="v-input--reverse" v-model="contours" v-on:change="setContours" label="Use contours" >

       </v-switch>


<!--Settings-->

  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn


          v-bind="attrs"
          v-on="on"
        >
          <v-icon

          >
            mdi-settings
          </v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Settings
        </v-card-title>

        <v-card-text>


        <v-switch
         label="Theme"
          @click="$vuetify.theme.dark = !$vuetify.theme.dark"
        />


       </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>








<v-progress-linear :active="busy" :indeterminate="busy" absolute bottom height="10" striped>
  <div style="color:White; font-size: 8px;">
{{ mes }}
  </div>
</v-progress-linear>
 
  </v-layout>
  </v-app-bar>



  


  <v-main :class="$style.appContent">

    <div style="position: relative; width: 100%; height: 100%" v-on:click="overlay=false">
     
      <v-overlay :absolute="absolute" :opacity="opacity" :value="busy"  >
         <v-container >
                 <v-layout row justify-center align-center>
                   <v-progress-circular :active="busy" :indeterminate="busy":size="70" :width="7" color="blue">
                     {{ mes }}
                   </v-progress-circular>
                 </v-layout>
               </v-container>
      </v-overlay>
      <remote-rendering-view :client="client" />
    </div>
  </v-main>
</v-app>
