
<v-app>




  <v-app-bar app shrink-on-scroll>





<v-dialog v-model="dialog" width="500">
<template v-slot:activator="{ on, attrs }">
<v-btn color="grey lighten-2" v-bind="attrs" v-on="on">
           Set Coords
         </v-btn>
          </template>
<v-card>
          <v-card-title class="headline grey lighten-2">
            Coordinates input
          </v-card-title>
          <v-divider></v-divider>


<v-row>
        <v-col cols="2">
          <v-text-field
            label="L"
            :value="p1"
             type="number"
             max='10'
             min='0'
             @input="setP1"



          ></v-text-field>
        </v-col>




        <v-col cols="2">
          <v-text-field
            label="B"
            :value="p2"
            type="number"
            max='10'
            min='0'
            @input="setP2"

          ></v-text-field>
        </v-col>

        <v-col cols="2">
          <v-text-field
            label="R"
            :value="r1"
            type="number"
            max='4'
            min='0'
            @input="setR1"

          ></v-text-field>
        </v-col>
      </v-row>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="hideDialogAndProceed">
            Ok
          </v-btn>
          <v-btn color="primary" text @click="dialog=false">
            Close
          </v-btn>


        </v-card-actions>
          </v-card>
 </v-dialog>
  <v-spacer />
  <v-switch
    :class="$style.switch"
    @click="$vuetify.theme.dark = !$vuetify.theme.dark"
  />
   <v-spacer />
<div>
Camera control
<div>

<v-btn-toggle v-model="toggle_one" mandatory>
<v-btn
  :value="1"
  text
>
<v-img max-height="30"
max-width="30" :src="require('@/assets/PIC_BACK.png')"
/>
</v-btn>

<v-btn
  :value="2"
  text
>
<v-img max-height="30"
max-width="30" :src="require('@/assets/PIC_TOP.png')"
/>
</v-btn>

<v-btn
  :value="3"
  text
>
<v-img max-height="30"
max-width="30" :src="require('@/assets/PIC_LEFT.png')"
/>
</v-btn>

<v-btn
  :value="4"
  text
>
<v-img max-height="30"
max-width="30" :src="require('@/assets/PIC_RIGHT.png')"
/>
</v-btn>
  </v-btn-toggle>
</div>
</div>
 <v-spacer></v-spacer>

<v-container fluid style="margin: 0px; padding: 0px; width: 20%">
 Threshold
 <div> <v-slider
 :class="$style.slider"
 hide-details
 :value="resolution"
 :max="10"
 :min="1"
 :step="0.5"
 @input="setResolution"
/>
 </div>
 </v-container>


<v-spacer></v-spacer>
<v-container fluid style="margin: 0px; padding: 0px; width: 20%">
Cutting planes
<div> <v-slider
:class="$style.slider"
hide-details
:value="resolution"
:max="60"
:min="3"
:step="1"
@input="setResolution"
/>
</div>
</v-container>
<v-spacer></v-spacer>


<v-container style="margin: 0px; padding: 0px; width: 20%">
Contours
      <v-row>
        <v-col>
        <div style="font-size:12px">Lower bound</div>
        <v-text-field style="margin: 0px; padding: 0px; width: 100px"
          v-model="numberValue"
          hide-details
          single-line
          type="number"
        />
        </v-col>

<v-col>
<div style="font-size:12px">
Level </div>
<v-text-field style="margin: 0px; padding: 0px; width: 100px"
  v-model="numberValue"
  hide-details
  single-line
  type="number"
/>
</v-col>

</v-row>
</v-container>


<v-progress-linear :active="busy" :indeterminate="busy" absolute bottom />

  </v-app-bar>




  <v-main :class="$style.appContent">
    <div style="position: relative; width: 100%; height: 100%">
      <remote-rendering-view :client="client" />
    </div>
  </v-main>
</v-app>
